genphen.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.Rbuildignore
my.tests/
README.md


# test
src/genphen.so
src/init.o
src/stan_files/*.hpp
src/stan_files/*.o
src/stan_files/*.cc

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.travis.yml
