export(
  runGenphen,
  runDiagnostics,
  runPhyloBiasCheck
)

# Import packages listed as Imports or Depends
import(
  stats,
  graphics,
  e1071,
  Biostrings,
  rstan,
  ranger,
  parallel,
  doMC,
  foreach
)
importFrom("graphics", "hist")
importFrom("stats", "bw.nrd0")
#exportPattern("^[[:alpha:]]+")
