# Export all names
export(
  runGenphenRf,
  runGenphenSvm,
  runGenphenBayes,
  plotSpecificGenotype,
  plotGenphenRfSvm,
  plotGenphenBayes,
  plotManhattan
)

# Import packages listed as Imports or Depends
import(
  e1071,
  ggplot2,
  effsize,
  Biostrings,
  rjags
)

importFrom("randomForest", randomForest)

#exportPattern("^[[:alpha:]]+")
